        {foreach from=$hiddens item=hv key=hk}
        <input type="hidden" name="{$hk}" value="{$hv}" />
        {/foreach}
        </form>
        <form id="gooninstall" method="post">
            <input type="hidden" name="__seccode__" id="__seccode__" />
        </form>
        <div class="foot">&copy; 2005-2014 <a href="http://bbs.sasadown.cn" target="_blank"><span>莎莎源码论坛</span></a></div>
        <div class="clear"></div>
    </div>
    <div class="box_bottom"></div>
    <div class="clear"></div>
</div>
</body>
</html>