{include file="header.html"}

<script type="text/javascript">
$(function(){
    $('#user_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            user_name : {
                required : true,
                byteRange: [3,15,'{$charset}'],
                remote   : {
                    url :'index.php?app=user&act=check_user',
                    type:'get',
                    data:{
                        user_name : function(){
                            return $('#user_name').val();
                        },
                        id : '{$user.user_id}'
                    }
                }
            },
            password: {
                <!--{if $smarty.get.act eq 'add'}-->
                required : true,
                <!--{/if}-->
                maxlength: 20,
                minlength: 6
            },
            email   : {
                required : true,
                email : true
            }
            {if !$set_avatar}
            ,
            portrait : {
                accept : 'png|gif|jpe?g'
            }
            {/if}
        },
        messages : {
            user_name : {
                required : '{$lang.user_not_empty}',
                byteRange: '{$lang.user_length_limit}',
                remote   : '{$lang.name_exist}'
            },
            password : {
                <!--{if $smarty.get.act eq 'add'}-->
                required : '{$lang.password_empty}',
                <!--{/if}-->
                maxlength: '{$lang.password_limit}',
                minlength: '{$lang.password_limit}'
            },
            email  : {
                required : '{$lang.email_not_empty}',
                email   : '{$lang.currect_email}'
            }
            {if !$set_avatar}
            ,
            portrait : {
                accept : '{$lang.note_portrait}'
            }
            {/if}
        }
    });
});
</script>
<div id="rightTop">
  <p>{$lang.received_pay}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=order">{$lang.manage}</a></li>
  </ul>
</div>
<div class="info">
  <form method="post" id="user_form" action="index.php?app=order&amp;act=received_pay&amp;id={$order.order_id}" >
    <table class="infoTable">
      <tr>
        <th class="paddingT15"></th>
        <td class="paddingT15 wordSpacing5">{$lang.cancel_order_confirm}</td>
      </tr>
      <tr>
        <th class="paddingT15"> {$lang.order_sn}:</th>
        <td class="paddingT15 wordSpacing5">{$order.order_sn}</td>
      </tr>
      <tr>
        <th class="paddingT15"> {$lang.operate_reason}:</th>
        <td class="paddingT15 wordSpacing5">
            <textarea class="text" id="remark_input" style="width:200px;" name="remark"></textarea>
        </td>
      </tr>

      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
          <input class="formbtn" type="reset" name="Reset" value="{$lang.reset}" />        
        </td>
      </tr>
    </table>
  </form>
</div>

{include file="footer.html"}
