{include file="header.html"}
<div id="rightTop">
  <p>{$lang.shipping}</p>
  <ul class="subnav">
    <li><span>{$lang.manage}</span></li>
    <li><a class="btn1" href="index.php?app=shipping&amp;act=add">{$lang.add}</a></li>
  </ul>
</div>

<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <!--{if $shippings}-->
    <tr class="tatr1">
      <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td>
	  <td><span ectype="order_by" fieldname="shipping_name">{$lang.shipping_name}</span></td>
      <td>{$lang.shipping_desc}</td>
      <td>{$lang.first_price}</td>
	  <td>{$lang.step_price}</td>
	  <td>{$lang.enabled}</td>
      <td class="handler">{$lang.handler}</td>
    </tr>
    <!--{/if}-->
    <!--{foreach from=$shippings item=shipping}-->
    <tr class="tatr2">
      <td class="firstCell"><input type="checkbox" class="checkitem" value="{$shipping.shipping_id}" /></td>
      <td>{$shipping.shipping_name|escape}</td>
      <td>{$shipping.shipping_desc|escape}</td>
      <td>{$shipping.first_price}</td>
	  <td>{$shipping.step_price}</td>
      <td>
	  <!--{if $shipping.enabled eq "1"}-->
		<img src="{res file=style/images/positive_enabled.gif}" />
	  <!--{else}-->
		<img src="{res file=style/images/positive_disabled.gif}" />
	  <!--{/if}-->

      </td>

      <td class="handler">
      
      <span style="width: 100px">
      <a href="index.php?app=shipping&amp;act=edit&amp;id={$shipping.shipping_id}">{$lang.edit}</a> | 
	  <a href="javascript:drop_confirm('{$lang.drop_confirm}','index.php?app=shipping&amp;act=drop&amp;id={$shipping.shipping_id}');">{$lang.drop}</a>
      </span>
      </td>

    </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="10">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
  </table>
  <!--{if $shippings}-->
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
      <input class="formbtn batchButton" type="button" value="{$lang.drop}" name="id" uri="index.php?app=shipping&act=drop" presubmit="confirm('{$lang.drop_confirm}');" />
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
    <div class="clear"></div>
  </div>
  <!--{/if}-->
</div>
{include file="footer.html"}