/*ft部分css*/
#ft a{color:#3e3e3e; text-decoration:none}
#ft{width:100%;border-top:1px solid #DDDDDD;margin-bottom:60px;}
#ft .service{width:1000px;margin:10px auto;border-bottom:1px solid #DDDDDD;overflow:hidden;padding-bottom:20px;}
#ft .service .title-1{margin-bottom:20px;font-size:16px;font-weight:bold;font-family:"微软雅黑";}
#ft .service .title-2{margin-bottom:20px;font-size:16px;font-weight:bold;font-family:"微软雅黑";}
#ft .service .title-3{margin-bottom:20px;;font-size:16px;font-weight:bold;font-family:"微软雅黑";}
#ft .service .title-4{margin-bottom:20px;font-size:16px;font-weight:bold;font-family:"微软雅黑";}
#ft .service li{line-height:20px;}
#ft .service .content-1{margin:10px;}
#ft .service li a:hover{color:#CC0000;}
#ft .service ul{float:left;width:196px;}
#ft .service ul:after,#ft .sitelink p:after{content:'\20';height:0px;display:block;clear:both;}

#ft .sitelink{width:1000px;margin:auto;color:#DDDDDD;overflow:hidden;}
#ft .sitelink .layleft{float:left;margin-left:5px;}
#ft .sitelink .layright{float: right;}
#ft .sitelink a{margin:0px 5px;}
#ft .sitelink a:hover{color:#CC0000;}
#ft .sitelink span{color:#AAAAAA;}

#ft .copyright{width:1000px;margin:15px auto;color:#B9AAC8;}
#ft .copyright p{margin-top:10px;width:1000px;text-align:center;}

