@charset "utf-8";
/* CSS Document */
/* 全局CSS定义 */
* { margin: 0; padding: 0; }
body {text-align:center;font-family:"宋体",Arial;margin:0;padding:0;font-size:12px; background: #FFF;color:#666666; }

p,div,form,img,ul,ol,li,dl,dt,dd {margin:0;padding:0;border:0; text-align:left;}
ul,ol, li{list-style:none;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;text-align:left;}
table,td,tr,th,br,input,select{font-size:12px;}
em{ font-style:normal; }
.clr{ clear:both; width:0; height:0; padding:0; margin:0; overflow:hidden;}
a{text-decoration:none;color:#666666;}
a:hover{color:#CC0000;text-decoration:underline;}
.clearfl:after{content:'\20';height:0px;display:block;clear:both;}
/*main.css*/


/*pubic*/
#bd{width:1000px;margin:auto;margin-bottom:10px;overflow:hidden;}
#bd .leftp{width:715px;float:left;}
#bd .rightp{width:275px;float:right;}
#bd .col-1{margin-bottom:20px;z-index:9;}
#bd .col-1:after{ content:'\20'; display:block; clear:both; height:0; overflow:hidden;}
#bd .leftp .lay-left{float:left;}
/*图片广告*/
.ad_image-1{width:715px;width:38px;margin-bottom:10px;}

/*左边部分*/
/*商品分类*/
#category-1{width:183px;border:1px solid #D60000;margin-bottom:10px;}
#category-1 .title-1{width:183px;height:28px;background:url(../images/bg_03.gif); line-height:28px;font-size:14px;}
#category-1 .title-1 a{color:#FFF;font-weight:normal;margin-left:10px;_font-size:14px;text-decoration:none;}
#category-1 .item{margin:0px 5px 0px 10px;}
#category-1 .item h4{font-weight:normal;width:166px;height:25px;line-height:25px;border:1px #FFF solid;border-bottom:1px solid #EEE;font-size:13px;}
#category-1 .item h4 a{_height:25px;_line-height:25px;display:inline-block;}
#category-1 .item h4 .icon-1{display:inline-block;width:5px; height:5px; overflow:hidden; background:url(../images/dian.gif) left 0;margin:5px;}
#category-1  .content-1{ display: block; position:relative; z-index:999}
#category-1  .content-1 .item h4 a:hover{ text-decoration:none;}
#category-1 .content-1 .item .out,#category-1 .content-1 .item b{ display:none;}
#category-1 .content-1 .hover h4,#category-1 .content-1 .item:hover h4{ border:1px solid #D60000; height:25px; line-height:25px; position:relative; z-index:999; _width:167px; width:167px; background:#FFF!important;}
#category-1 .content-1 .hover .out,#category-1 .content-1 .item:hover .out{ display:block; position:absolute; left:178px;_left:168px; top:0;border:1px #D60000 solid; background:#fff;padding-left:10px; width:580px; float:left; z-index:998; min-height:269x ;_height:319px;}
#category-1 .content-1 .hover h4 b,#category-1 .content-1 .item:hover h4 b{ position:absolute; display:block;height:25px; width:1px;overflow:hidden;left:167px;top:0;background:#fff; z-index:1001;}
#category-1 .content-1 .hover h4 a,#category-1 .content-1 .item:hover  h4 a{ padding-left:5px; color: #D60000;}
#category-1 .content-1 .hover .out .subcategory-1,#category-1 .content-1 .item:hover .out .subcategory-1{width:400px; float:left; }
#category-1 .content-1 .hover .out .subcategory-1 .container-1,#category-1 .content-1 .item:hover .out .subcategory-1 .container-1{margin:10px 0px;overflow:hidden;}
#category-1 .content-1 .hover .out  .subcategory-1 dl,#category-1 .content-1 .item:hover  .out  .subcategory-1 dl{margin-bottom:10px;}
#category-1 .content-1 .hover .out  .subcategory-1 dt,#category-1 .content-1 .item:hover  .out  .subcategory-1 dt{clear: both;height: 31px; float:left;}
#category-1 .content-1 .hover .out .subcategory-1 dt a,#category-1 .content-1 .item:hover .out .subcategory-1 dt a{color:#D60000; font-weight:bold;height:30px;line-height: 30px; }
#category-1 .content-1 .hover .out .subcategory-1 dd,#category-1 .content-1 .item:hover .out .subcategory-1 dd{ float:right;width:300px;}
#category-1 .content-1 .hover .out .subcategory-1 dd a,#category-1 .content-1 .item:hover .out .subcategory-1 dd a { border-right: 1px dashed #F1E3E3;color: #545454;height:30px;line-height: 30px;white-space:nowrap;padding:0px 10px;}
#category-1 .content-1 .hover .out .subcategory-1 dd a:hover,#category-1 .content-1 .item:hover .out .subcategory-1 dd a:hover {color:#D60000; }
#category-1 .content-1 .hover .out .subcategory-1 dd a:hover,#category-1 .content-1 .item:hover .out .subcategory-1 dd .hover{ color:#bf0000;} 
#category-1 .content-1 .hover .out .hotview,#category-1 .content-1 .item:hover .out .hotview{float:right;padding: 0 18px; width: 140px; background:#F8EEDA;min-height:269px; _height:319px;}
#category-1 .content-1 .hover .out .hotview h3,#category-1 .content-1 .item:hover .out .hotview h3 {color: #bf0000; font-weight:bold;height: 31px;line-height: 31px; margin:0;padding: 0;}
#category-1 .content-1 .hover .out .hotview div,#category-1 .content-1 .item:hover .out .hotview div{}
#category-1 .content-1 .hover .out .hotview div a,#category-1 .content -1 .item:hover .out .hotview div a{color: #666666; display:block;margin-right: 10px; white-space:nowrap;}

/*图片联播*/
#bd .leftp .lay-right{float:right;}
#bd .leftp .lay-right .image-box{width:520px;height:250px;overflow:hidden;position:relative;margin-bottom:10px;}
#bd .leftp .lay-right .ks-switchable-nav{position:absolute;left:0px;top:220px;}
#bd .leftp .lay-right .ks-switchable-nav a{width:104px;text-align:center;height:30px;line-height:30px;display:block;margin-right:0px;float:left;background: url(../images/bk-inspactable.png);color: #FFF;}
#bd .leftp .lay-right .ks-switchable-nav a:after{content:'\20';height:0px;display:block;clear:both;}
#bd .leftp .lay-right .ks-switchable-nav a.hot,#bd .leftp .lay-right .ks-switchable-nav a:hover,#bd .leftp .lay-right .ks-switchable-nav   .ks-active{background:#FFF;color:#000;text-decoration:none;}

/*图片联播下旋转木马*/
.six-pic-scroll{width:518px;height:170px;border:1px solid #CCCCCC;position:relative;}
.six-pic-scroll .btn-1 .prev{display:block;width:13px;height:25px;background:url(../images/btn_03.gif);position:absolute;left:5px;top:72px;}
.six-pic-scroll .btn-1 .next{ display:block;width:13px;height:25px;background:url(../images/btn_05.gif);position:absolute;right:5px;top:72px;}
.six-pic-scroll .scroller{width:480px; height:150px; position:relative;overflow:hidden;margin-left:20px;margin-top:10px;}
.six-pic-scroll .scroller .ks-switchable-content{width:5000px !important;}
.six-pic-scroll .scroller .ks-switchable-content img{ display:block;float:left;}
.six-pic-scroll .scroller .ks-switchable-content li{ width:480px; height:150px; display:block;overflow:hidden;}
.six-pic-scroll .ks-switchable-nav{ display:none}
#bd .leftp .lay-right .six-pic-scroll .t-p img{float:left;display:block;width:234px;height:145px;margin:1px 1px 2px 2px;_margin:1px;;border: #FFF solid 1px;}
#bd .leftp .lay-right .six-pic-scroll .f-p img{width:114px;height:145px;border:#FFF  solid 1px;float:left;display:block;margin:1px 1px 2px 2px;_margin:1px;}



/*商品陈列部分*/
#bd .goodsshow{width:715px;margin-bottom:10px;overflow:hidden;z-index:0;}
#bd .goodsshow .hd-1{width:715px;height:40px;border-bottom:solid 1px #CC0000;margin-bottom:20px;}
#bd .goodsshow .hd-1 .title{float:left;}
#bd .goodsshow .hd-1 p{float:right;margin-top:15px;color:#DEDEDE;}
#bd .goodsshow .hd-1 .title h1{float:left;color:#CC0000;font-family:"微软雅黑";font-size:22px;margin-right:20px;font-weight:normal;line-height:40px;height:40px;}
#bd .goodsshow .hd-1 .title h5{float:left;color:#666666;padding:3px 10px;background:#F1F1F1;margin-top:15px;display: }
#bd .goodsshow .hd-1 .title h5:hover{background:#CC0000;}
#bd .goodsshow .hd-1 .title h5 a{font-weight:normal;margin-right:5px;}
#bd .goodsshow .hd-1 .title h5:hover a{color: #FFF;text-decoration:none;}
#bd .goodsshow .hd-1 p a{margin:0xp 3px;}
#bd .goodsshow .hd-1 .title:after,#bd .goodsshow .hd-1 p:after,#bd .goodsshow .hd-1 .title h2:after,#bd .goodsshow .hd-1 .title h5:after,#bd .goodsshow dd span:after,#bd .goodsshow dl:after{content:'\20';height:0px;display:block;clear:both;}
#bd .goodsshow dl{padding:5px;width:122px;height:223px;overflow:hidden;margin-bottom:20px;float:left;margin-left:3px;margin-right:8px;_margin-right:5px;_margin-left:4px;}
#bd .goodsshow .item:hover,#bd .goodsshow .hover{background:  #F0F0F0;}
#bd .goodsshow dt,#bd .goodsshow dt .pic-1 {margin-bottom:5px;}
#bd .goodsshow dt img{border:1px solid #FFF;}
#bd .goodsshow dt .disc{width:117px;height:30px;overflow:hidden;line-height:15px;}
#bd .goodsshow dl dd{width:122px;overflow:hidden;margin-bottom:5px;}
#bd .goodsshow .price-1{color:#CC0000;font-family:"微软雅黑";}
#bd .goodsshow .item:hover img,#bd .goodsshow .hover img{border:1px solid #CC0000;}
#bd .goodsshow .item:hover .disc a,#bd .goodsshow .hover .disc a{color:#CC0000;}
#bd .goodsshow dd span{border:1px solid #CCCCCC;padding:3px 5px;display:block;float:left;text-align:center;}
#bd .goodsshow dd span:hover{border:1px solid #CC0000;}
#bd .goodsshow dd span:hover a{color:#CC0000;text-decoration:none;}



/*公告栏*/
.notice{width:273px;border:1px solid #CCCCCC;margin-bottom:10px;}
.notice .hd{width:273px;border-bottom:1px #ccc solid; height:25px; line-height:25px;background:#F1F1F1;}
.notice .hd h3{padding-left:10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#303030;}
.notice  .container-1{width:273px;}
.notice .content-1{margin:10px 10px;}
.notice h5{float:left;margin-right:10px;}
.notice .red{color:#CC0000;}
.notice a{float:left;display:block;}
.notice .line{width:253px;overflow:hidden;margin-bottom:10px;}
.notice h5:after,.notice span:after{content:'\20';height:0px;display:none;clear:both;}
/*右边特价旋转木马*/
.premot{width:275px;height:165px;border-bottom:1px solid #CC0000;position:relative;overflow:hidden;margin-bottom:10px;}
.premot .btn-1 .prev{display: inline-block;width:5px;height:7px;background: url(../images/tb_03.gif) no-repeat;position:absolute;right:35px;top:10px;}
.premot .btn-1 .next{ display: inline-block;width:5px;height:7px;background:url(../images/tb_05.gif) no-repeat;position:absolute;right:20px;top:10px;}
.premot .scroller{width:275px; height:140px; position:relative;overflow:hidden;margin-top:5px;border:0px;}
.premot .scroller .ks-switchable-content{width:5000px !important;}
.premot .scroller .ks-switchable-content .img{ display:inline-block}
.premot .scroller .ks-switchable-content li{ width:275px;height:140px;display:inline-block;}
.premot .ks-switchable-nav{ display:none}
 .premot h3{height:25px;line-height:25px;margin-left:10px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#303030;font-size:14px;}
 .premot .brand-logo img{float:left;margin:0px 3px;overflow:hidden;margin-top:5px;}
 .premot .image{float:left;margin:5px;margin-top:0px;}
 .premot dl{float:right;margin:0px 10px 5px 0px;}
  .premot dl dt{line-height:30px;display:block; text-align:right;}
.premot dl .price-1 span{color:#CC0000;font-family:"微软雅黑";font-size:20px;font-weight:bold;margin-right:5px;}
.premot dl .price-1{margin-bottom:5px;}
.premot dl .disc-1{font-weight:bold;width:125px;overflow:hidden;height:25px;}
.premot dl .btn-3{background:url(../images/tb_10.gif);width:66px;height:24px;display:inline-block;margin-top:30px;}
/*友情链接*/
.partner-1{width:273px;border:1px solid #CCCCCC;margin-bottom:10px;}
.partner-1 .hd-1{border-bottom:1px #ccc solid; height:25px; line-height:25px;background:#F1F1F1;}
.partner-1 .hd-1  h3{padding-left:10px;font-size:14px;font-family:"微软雅黑";color:#303030;}
.partner-1 .content-1{margin:5px;margin-left:4px;}
.partner-1 .content-1 li{border:1px solid #CCCCCC;;float:left;margin:0px 3px 0px 3px;}

/*品牌推荐*/
.rec-brand{width:273px;border:1px solid #CCCCCC;margin-bottom:10px;}
.rec-brand .hd-1{width:273px;height:30px;line-height:30px;background:#F1F1F1;border-bottom:1px #ddd solid}
.rec-brand .hd-1 h3{padding-left:10px;font-size:14px;color:#303030;font-family:Arial, Helvetica, sans-serif;font-weight:bold;float:left;}
.rec-brand .hd-1 a{float:right;margin-right:10px;}
.rec-brand .content-1 .list-1{overflow:hidden;margin:5px 0px;}
.rec-brand .content-1 li{float:left;width:87px;height:45px;margin:5px 1px 5px 2px;background:#F1F1F1;_margin:5px 1px 5px 1px;}
.rec-brand .content-1 li:hover{background:#D20000;}
.rec-brand .content-1 li img{margin:5px 4px;width:80px;height:35px;}
.rec-brand .ft-1{width:273px;text-align: center;margin-bottom:10px;}
.rec-brand .ft-1 .brands_btn-1{margin-right:10px;border:none;background: url(../images/barbtn.gif);width:180px;height:25px;line-height:25px;color:#fff;font-weight:bold;cursor:pointer;}


/*团购*/
.tuangou{width:273px;border:1px solid #DDDDDD;margin-bottom:10px;}
.tuangou .each{position:relative;margin-top:10px;}
.tuangou .hd-1{width:273px;height:30px;line-height:30px;background:#F1F1F1;margin-bottom:10px;border-bottom:1px #ddd solid}
.tuangou .hd-1 h3{float:left;margin-left:10px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#303030;}
.tuangou .hd-1 a{float:right;margin-right:10px;}
.tuangou .hd-1 h3:after,.tuangou .hd-1 a:after,.tuangou .content-1 dd:after{content:'\20';height:0px;display:block;clear:both;}
.tuangou .content-1{overflow:hidden;margin-top:10px;}
.tuangou .content-1 dt{width:235px;height:40px;overflow:hidden;margin-left:15px;color:#666666;line-height:17px;}
.tuangou .content-1 dd{float:left;}
.tuangou .content-1 .price-1{width:60px;height:120px;background:#F1F1F1;margin-left:1px;}
.tuangou .content-1 .price-1 span{width:30px;display:block;margin-top:50px;margin-left:15px;color:#333333;font-family:"微软雅黑";}
.tuangou .content-1 .price-1 span em{color:#609F0A}
.tuangou .content-1 .pic-1{margin-left:15px;}
.tuangou .tuanend{padding-left:10px;height:25px;color:#333333; background:#CC0000; line-height:25px;color:#fff;}
.tuangou .position-price{position:absolute;width:146px;height:49px;top:30px;left:-5px;background:url(../images/posi_03.gif);}
.tuangou .position-price span{height:49px;line-height:49px;color: #FFF;font-family:"微软雅黑";font-size:20px;margin-left:15px;font-weight:200;}

/*新品*/
.newarrival{width:273px;border:1px solid #DDDDDD;margin-bottom:10px;overflow:hidden;}
.newarrival .hd-1{width:273px;height:30px;line-height:30px;background:#F1F1F1;margin-bottom:10px;}
.newarrival .hd-1 h3{float:left;margin-left:10px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#303030;}
.newarrival .hd-1 a{float:right;margin-right:10px;}
.newarrival .hd-1 h3:after,.tuangou .hd-1 a:after,.newarrival .content-1 dl:after{content:'\20';height:0px;display:block;clear:both;}
.newarrival .content-1 dl{float:left;width:120px;margin-left:10px;}
.newarrival .content-1 dd{width:120px;text-align:center;overflow:hidden;margin-top:5px; height:32px; line-height:16px; text-align:left}
.newarrival .content-1 .extra{margin-bottom:10px;color:#999}
.newarrival .content-1 .extra em{color:#E63A00;font-weight:bold}
.newarrival .content-1{margin-bottom:10px;}


/*图片广告*/
.ad-1{margin-bottom:10px;}

/*热卖商品*/
.rightp .hot-1{width:273px;border:1px solid #DDDDDD;margin-bottom:10px;overflow:hidden;}
.rightp .hot-1 .hd-1{width:273px;height:30px;line-height:30px;background:#F1F1F1;margin-bottom:10px;}
.rightp .hot-1 .hd-1 h3{float:left;margin-left:10px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#303030;}
.rightp .hot-1 .hd-1 a{float:right;margin-right:10px;}
.rightp .hot-1 .hd-1 h3:after,.tuangou .hd-1 a:after,.rightp .hot-1 .content-1 dl:after{content:'\20';height:0px;display:block;clear:both;}
.rightp .hot-1 li{width:243px;overflow:hidden;border-bottom:1px dashed #EEEEEE;margin:0px 15px; padding:8px 0px;position:relative;}
.rightp .hot-1 .top3 img{float:left;display:block;}
.rightp .hot-1 .top3 .disc{width:100px;height:80px;display:block;float: left;margin-left: 10px;height:15px;line-height:15px;}
.rightp .hot-1 .top3 a{width:200px;height:80px;}
.rightp .hot-1  li a{display:block;float:left;height:15px;width:205px;overflow:hidden;cursor:pointer;}
.rightp .hot-1 strong{display:block;float:right;color: #D20000;font-family:"微软雅黑";font-weight:normal;}
.rightp .hot-1  li .rank{width:20px;height:20px;background:url(../images/rank.gif);position:absolute;left:0px;top:5px;}
.rightp .hot-1  li .rank span{width:20px;height:20px;display:block;line-height:20px;text-align:center;color:#FFF;font-size:16px;font-weight:bold;font-family:"微软雅黑";}
.rightp .hot-1  li .title-1{display:block;float:left;height:15px;width:190px;overflow:hidden;line-height:15px;}
.rightp .hot-1 .price-1{display:block;float:right;color:#333333;font-family:"微软雅黑";font-weight:normal;color: #D20000;}


/*底部的商品分类catalog*/
.bo-catalog{width:1000px;height:227px;border-top:1px solid #DDDDDD;}
.bo-catalog .box-1{width:123px;float:left;background:#F4F4F4;margin-right:2px;height:227px;overflow:hidden;}
.bo-catalog .content-1{margin:8px;height:207px;overflow:hidden;}
.bo-catalog .content-1 li{margin-bottom:10px;}
.bo-catalog .content-1 li a{display: inline-block;height:20px;line-height:20px;padding:2px 0px 2px 7px;}
.bo-catalog .content-1 .title h5{color:#333333;text-align:center;font-size:14px}
.bo-catalog .content-1 .logo-1 span{display:block;margin-left:29px;}
.bo-catalog .box-1 .goods_logo1{width:48px;height:48px;display:block;background:url(../images/ft_0322.gif) ;}
.bo-catalog .box-1 .goods_logo2{width:48px;height:48px;display:block;background:url(../images/ft_031.gif) ;}
.bo-catalog .box-1 .goods_logo3{width:48px;height:48px;display:block;background:url(../images/ft_0332.gif) ;}
.bo-catalog .box-1 .goods_logo4{width:48px;height:48px;display:block;background:url(../images/ft_039.gif) ;}
.bo-catalog .box-1 .goods_logo5{width:48px;height:48px;display:block;background:url(../images/ft_033.gif) ;}
.bo-catalog .box-1 .goods_logo6{width:48px;height:48px;display:block;background:url(../images/ft_034.gif) ;}
.bo-catalog .box-1 .goods_logo7{width:48px;height:48px;display:block;background:url(../images/ft_035.gif) ;}
.bo-catalog .box-1 .goods_logo8{width:48px;height:48px;display:block;background:url(../images/ft_03110.gif) ;}

